# List(Mutable)

it allow duplicate value and its elements are ordered. list enclosed in box bracket[]

In [2]:
x=[2,5,6,8,9,9]
print(x)
print(type(x))

[2, 5, 6, 8, 9, 9]
<class 'list'>

In [4]:
my_list=["April","May",1,2,3,3]
print(my_list)

['April', 'May', 1, 2, 3, 3]

In [6]:
for i in range(6):
    print(i,end="")
   # print(my_list)

012345

In [8]:
e="ABCDE"
for p in e:
    print(p)
    print(e)

A
ABCDE
B
ABCDE
C
ABCDE
D
ABCDE
E
ABCDE

# Access the list element with indexing

In [11]:
o="element"
print(o[0:4])# start:stop:step, n-1

elem

In [13]:
b=[5,6,2,3,5,6,7]
print(b[0])
print(b[1])
print(b[2])
print(b[3])
print(b[4])
print(b[5])
print(b[6])
#print(b[7])

5
6
2
3
5
6
7

In [15]:
p=["Prisha","prapti",1,2,3,5,6]
print(p[0])
print(p[1])
print(p[2])
print(p[3])
print(p[4])
print(p[0:8:3])  # start:stop:step, n-1

Prisha
prapti
1
2
3
['Prisha', 2, 6]

In [17]:
s="python"
print(s[::-1])#reverse string

nohtyp

In [19]:
x=[1,2,3,4,5]
print(len(x))
print("-------------------")
print(x[3])
print("-------------------")
y=[5,8,6,[5,2,6],4,2]
print(len(y))
print(y[3][1])  #nested list

5
-------------------
4
-------------------
6
2

In [21]:
my_list=[1,2,[5,6,3,4,1],4,5]
print(my_list)
print(len(my_list))

print(my_list[2])
print(my_list[2][3])

[1, 2, [5, 6, 3, 4, 1], 4, 5]
5
[5, 6, 3, 4, 1]
4

# Allow Duplicate

In [24]:
x=['apple','orange','cherry','apple']
print(x)

y=[4,5,5,6]
print(y)

['apple', 'orange', 'cherry', 'apple']
[4, 5, 5, 6]

# Access List Item

In [27]:
x=['apple','orange','cherry','apple']
print(x[0])
print(x[1])
print(x[2])
print(x[3])

apple
orange
cherry
apple

# Negative Indexing
refers -1 to start last item, -2 to the second last item and so on.

In [31]:
x=['apple','orange','cherry','apple']
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])

apple
cherry
orange
apple

# Range of Indexes

In [34]:
x=['apple','orange','cherry','apple']
print(x[2:4])  #start:stop==> o/p[cherry,apple]

['cherry', 'apple']

# Range of Negative Indexes
use when we want to search from ending.

In [38]:
x=['apple','cherry','mango','guava','blueberry','pineapple']
print(x[-1])
print(x[-6:-1])

pineapple
['apple', 'cherry', 'mango', 'guava', 'blueberry']

# Insert items

insert element without replacing existing values.

In [41]:
x=['chikoo','peru','aamba']
x.insert(1,'draksh')
print(x)
print("=================================")
y=[12,23,23,34,56,46]
y.insert(2,'mina')
print(y)
print("=================================")
z=['peru','aamba',4,5,3]
z.insert(3,'ridima')
print(z)

['chikoo', 'draksh', 'peru', 'aamba']
=================================
[12, 23, 'mina', 23, 34, 56, 46]
=================================
['peru', 'aamba', 4, 'ridima', 5, 3]

# Add list Item

to add items we use append method()

In [44]:
x=['chikoo','peru','aamba']
x.append('jam')
print(x)
print("=================================")
y=[1,2,3,4]
y.append(5)
print(y)
print("=================================")
z=[4.15,5.6,2.5,45]
z.append(25)
print(z)
print(type(z))

['chikoo', 'peru', 'aamba', 'jam']
=================================
[1, 2, 3, 4, 5]
=================================
[4.15, 5.6, 2.5, 45, 25]
<class 'list'>

# Extend List

append elements of another list to current list using extend() method

In [47]:
x=['chikoo','peru','aamba']
y=[1,2,3,4]
x.extend(y)
print(x)

x=['chikoo','peru','aamba']
y=[1,2,3,4]
y.extend(x)
print(y)

['chikoo', 'peru', 'aamba', 1, 2, 3, 4]
[1, 2, 3, 4, 'chikoo', 'peru', 'aamba']

In [49]:
a=['A','B','C','D']
b=['E','F','G','H','I']
a.extend(b)
print(a)

a=['A','B','C','D']
b=['E','F','G','H','I']
a.append(b)
print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
['A', 'B', 'C', 'D', ['E', 'F', 'G', 'H', 'I']]

# Add any iterable

to extend() method does not have to append lists, you can add any iterable object(tuples, sets, dictionary, etc.)

In [52]:
my_list=[1,2,3,4]
my_tuple=(5,6,7,8)
my_list.extend(my_tuple)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
my_list=[1,2,3,4]
my_set={5,6,7,8}
my_list.extend(my_set)
print(my_list)

[1, 2, 3, 4, 8, 5, 6, 7]

In [56]:
my_list=[1,2,3,4]
my_dict={'a':5,'b':6,'c':7,'d':8}
my_list.extend(my_dict)
print(my_list)

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

# extend() vs append()

extend() adds each element of the iterable to the list, whereas append() add the iterable itself as a single element to the list

In [59]:
my_list=[1,2,3,4]
my_tuple=(5,6,7,8)
my_list.append(my_tuple)
print(my_list)
print("=======================")
my_list=[6,7,8]
my_list.extend(my_tuple)
print(my_list)

[1, 2, 3, 4, (5, 6, 7, 8)]
=======================
[6, 7, 8, 5, 6, 7, 8]

In [61]:
my_list=[1,2,3,4]
my_set={5,6,7,8}
my_list.append(my_set)
print(my_list)
print("=======================")
my_list=[5,6,7]
my_list.extend(my_set)
print(my_list)

[1, 2, 3, 4, {8, 5, 6, 7}]
=======================
[5, 6, 7, 8, 5, 6, 7]

# Remove List items

use remove() method to removes specific items

In [64]:
x=['apple','banana','cherry']
x.remove('apple')
x.remove('banana')
print(x)

['cherry']

# Remove specified Index

pop() method removes specified index

In [67]:
x=['apple','banana','cherry']
x.pop(1)
print(x)

['apple', 'cherry']

In [69]:
x=['apple','banana','cherry','chikoo','peru','aamba']
x.pop(4)
print(x)

['apple', 'banana', 'cherry', 'chikoo', 'aamba']

# Clear the List

clear() method empties the list, The list still remain, but has no content

In [72]:
x=['apple','banana','cherry','chikoo','peru','aamba']
x.clear()
print(x)

[]

# List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [1]:
# To create a list of sq. for even numbers from 0 to 9
sq=[x**2 for x in range(10) if x%2==0]
sq

[0, 4, 16, 36, 64]

# Sort List

use sort() method for sorting elements. It sorts ascending order by default

In [4]:
x=['apple','banana','cherry','chikoo','peru','aamba']
x.sort()
print(x)

['aamba', 'apple', 'banana', 'cherry', 'chikoo', 'peru']

In [6]:
#To descending we use 'reverse=true'
x=['apple','banana','cherry','chikoo','peru','aamba']
x.sort(reverse=True)
print(x)

['peru', 'chikoo', 'cherry', 'banana', 'apple', 'aamba']

# Join List

Join Two Lists :- easiest way by using + operator

In [9]:
x=['apple','banana','cherry','chikoo','peru','aamba']
y=[1,2,3,4]
z=x+y
print(z)

['apple', 'banana', 'cherry', 'chikoo', 'peru', 'aamba', 1, 2, 3, 4]

# count() : Return number of occurrences of value.

In [12]:
L1=[1,2,3,4,5,1,1]
print(L1.count(5)) #it prints how many times no. is repeated in list.

1

# max()

In [15]:
L1=[1,2,3,4,5,1,1]
print(max(L1))

5

# min()

In [17]:
L1=[1,2,3,4,5,1,10,20,35,60,9,90]
print(max(L1))
print(min(L1))

90
1

# reverse()

In [22]:
L1=[1,2,3,4,5,1,10,20,35,60,9,90]
print("Original List: ",L1)
L1.reverse()
print("Reversed List: ",L1)

Original List:  [1, 2, 3, 4, 5, 1, 10, 20, 35, 60, 9, 90]
Reversed List:  [90, 9, 60, 35, 20, 10, 1, 5, 4, 3, 2, 1]

In [24]:
x="abcdefghijklmnopqrst"
print(x[::-1])

tsrqponmlkjihgfedcba

In [26]:
#creating a list
list=['a','b','c','d']
print("(1). List: ",list)

#appending element in a list
list.append('e')
print("(2). list after append operation: ",list)

#accessing item in a list
print("(3). accessing items in a list: ",list[1])

#changing item in a list
list[1]="A"
print("(4). changing items in the list: ",list)

#removing item in a list
list.remove("a")
print("(5). after removing item: ",list)

#remove item in a specified index
print("(6). after pop operation: ",list.pop(3))
print("(7). ",list)

#sort function
list.sort()
print("(8). sort: ",list)

(1). List:  ['a', 'b', 'c', 'd']
(2). list after append operation:  ['a', 'b', 'c', 'd', 'e']
(3). accessing items in a list:  b
(4). changing items in the list:  ['a', 'A', 'c', 'd', 'e']
(5). after removing item:  ['A', 'c', 'd', 'e']
(6). after pop operation:  e
(7).  ['A', 'c', 'd']
(8). sort:  ['A', 'c', 'd']