# Tuples(immutable)
tuple is collection of python object much like a list. The sequence of values stored in a tuple can be any type, and there indexed by integers.
Tuples are used to store multiple items in single variable.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets ().
# Tuple Items
Tuple items are ordered, unchangeable, and allow duplicates values. 
# Ordered
Tuple are ordered, it have defined order and that order will not change.
# Unchangeable
Tuples are un changeable we cannot change, add or remove items after tuple has been created.
# Allow Duplicates
tuple have indexed they can have items with same values.

tuple=('a','b','c','a')
print(tuple)

# Tuple Length

To determine how many items a tuple has len() function.

In [4]:
x=('asd','asd','wer','tyu','yui',8)
print(len(x))

6

# Tuple Items-Data Types

Tuple items can be any data type

In [7]:
t1=('a','b','c')
t2=(1,5,3,6)
t3=(True,False,True)
print(t1)
print(t2)
print(t3)

('a', 'b', 'c')
(1, 5, 3, 6)
(True, False, True)

# Tuple Constructor [tuple()]

In [10]:
thistuple= tuple(('p','s','d','t'))
print(thistuple)
print(type(thistuple))

('p', 's', 'd', 't')
<class 'tuple'>

# Check if item Exists

To determine "if" a specified item is present in a tuple use "in" keyword

In [13]:
thistuple= tuple(('paas','saas','iaas'))
if 'paas' in thistuple:
    print("Yes!, 'paas' is in tuple")
else:
    print("not exist")

Yes!, 'paas' is in tuple

# Update Tuples

1) Tuple are unchangeable, meaning that you cannot change, add, or remove items once yhe tuple is created.

 2) Once a tuple is created, we cannot change it's values. Tuples are unchangeable, or immutable it also is called.

In [19]:
# convert tuple into list then we can able to do changes
x=('paas','saas','iaas')
y=list(x)
print(y)
y[0]='kiwi'
x=tuple(y)
print(x)

['paas', 'saas', 'iaas']
('kiwi', 'saas', 'iaas')

In [21]:
t=(1,2,3,4,5)
x=list(t)
print(x)
x[3]=1000
x=tuple(x)
print(x)

[1, 2, 3, 4, 5]
(1, 2, 3, 1000, 5)

# Add, Remove Items

firstly we have convert it into list then we can add or remove items in tuple.

In [24]:
#add item in tuple
x=('aam','jaam','kaam')
y=list(x)
print(y)
y.append('saam')
x=tuple(y)
print(x)

['aam', 'jaam', 'kaam']
('aam', 'jaam', 'kaam', 'saam')

In [26]:
thistuple=('paroo','sani','dhani')
y=list(thistuple)
print(y)
y.append('sonu')
thistuple=tuple(y)
print(thistuple)

['paroo', 'sani', 'dhani']
('paroo', 'sani', 'dhani', 'sonu')

In [30]:
# remove item in tuple
thistuple=('paroo','sani','dhani')
y=list(thistuple)
print(y)
y.remove('paroo')
thistuple=tuple(y)
print(thistuple)

['paroo', 'sani', 'dhani']
('sani', 'dhani')

In [32]:
x=(1,2,3,4,5,6,7,8,9)
y=list(x)
print(y)
y.remove(8)
x=tuple(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 9)

# Unpack Tuples

when we create a tuple, we normally assign values to it. This is called "packing" a tuple.

In [35]:
#packing a tuple
x=('shravani','ram','ball')
print(x)

('shravani', 'ram', 'ball')

In [37]:
# In python, we are also allowed to extract the values back into variables. this is called "unpacking".
fruits=('apple','banana','grapes','guava')
(red,yellow,voilet,green)=fruits
print(voilet,end=" ")
print(green,end=" ")
print(yellow,end=" ")
print(red)

grapes guava banana apple

In [39]:
x=('2x+3','2-3','4*5')
(add,sub,mul)=x
print(add)
print(sub)
print(mul)

2x+3
2-3
4*5

# Tuple loop

we can iterate tuple items using loop.

In [42]:
fruits=('apple','banana','grapes','guava')
for x in fruits:
    print(x)

apple
banana
grapes
guava

# Loop through the index Numbers

you can also loop through the tuple items by referring to their index number. use the range() and len() function to create a suitable iterable.

In [45]:
for i in range(6):
    print(i,end=" ")

0 1 2 3 4 5

In [47]:
x=(1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9)
print(len(x))
for i in x:
    print(i,end=" ")

18
1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9

# Join Tuples

to join two tuples we can use "+" operator.

In [50]:
tuple1=(1,2,3,4)
tuple2=(5,5,6,7)
x=tuple1+tuple2
print(x)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 5, 6, 7)
(1, 2, 3, 4, 5, 5, 6, 7)

# Multiply Tuples

if we want to multiply content of tuple a given number of times, we can use the * operator.

In [53]:
tuple1=(1,2,3,4)
#x=tuple1*2
x=tuple1*9
print(x)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [55]:
x=('sa','re','ga','ma','pa')
y=x * 4
print(y)

('sa', 're', 'ga', 'ma', 'pa', 'sa', 're', 'ga', 'ma', 'pa', 'sa', 're', 'ga', 'ma', 'pa', 'sa', 're', 'ga', 'ma', 'pa')

# Tuple Methods

tuple has two built-in methods 1) count() 2) index()

# 1) count()

In [60]:
#count() method returns number of times the value appears in tuple
x=(1,2,2,2,3,4,5)
y=x.count(2)
print(y)

3

In [62]:
x=('sa','re','ga','ma','pa','sa')
y=x.count('sa')
print(y)

2

# 2) index()

In [65]:
#searches tuple for specified value and returns the position of where search for the first occurence of the value and return position
x=(1,2,2,2,3,4,5)
y=x.index(5)
print(y)

6

In [67]:
x=('sa','re','ga','ma','pa','sa')
y=x.index('sa')
print(y)

0

list=[1,2,3,4] in this we have to print two numbers where their multiplication is maximum than other number 4 and 3 are those having maximum multiplication than other number.

In [70]:
List=[1,3,2,4]
sort_list= sorted(List)
print(sort_list)
# get two lagest number
largest1=sort_list[-1]
largest2=sort_list[-2]

x=sort_list[-1]*sort_list[-2]
print(x)

print(f"The two numbers with maximum product are {largest1} and {largest2} is: {x}")#using f-string
print("The two numbers with maximum product are {} and {}".format(largest1, largest2))#using format() method

[1, 2, 3, 4]
12
The two numbers with maximum product are 4 and 3 is: 12
The two numbers with maximum product are 4 and 3

In [72]:
x=[3,4,1,2,5,6,9,7,8]
y=sorted(x)
print(y)
largest1=y[-1]
largest2=y[-2]

add=largest1+largest2
print(f"the largest two numbers are {largest1} and {largest2} and their addition is: {add}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
the largest two numbers are 9 and 8 and their addition is: 17

In [74]:
x=[2,-5,6,-8,8,-1,9,-6]
y=sorted(x)
print(y)
# we have to calculate product of heighest two numbers from +ve and -ve numbers.
pos1=y[-1]
pos2=y[-2]
pos_mul=pos1*pos2
print(pos_mul)

neg1=y[0]
neg2=y[1]
#print(neg1)
#print(neg2)
neg_mul=neg1*neg2
print(neg_mul)

if pos_mul>neg_mul:
    print(f"product of positive numbers {pos1} and {pos2} is: {pos_mul}")
else:
    print(f"product of negative numbers {neg1} and {neg2} is: {neg_mul}")

[-8, -6, -5, -1, 2, 6, 8, 9]
72
48
product of positive numbers 9 and 8 is: 72

In [76]:
def max_multiplication(list):
    if len(list)<2:
        return list
    list.sort()
    print(list)
    product1=list[0]*list[1]
    product2=list[-1]*list[-2]
    if product1>product2:
        print(list[0],list[1],product1)
    else:
        print(list[-1],list[-2],product2)
num=[1,-2,3,-4,6,-7]
result= max_multiplication(num)
print(result)

[-7, -4, -2, 1, 3, 6]
-7 -4 28
None