# Set

sets are used to store multiple items in a single variable. A set is a collection which is unordered, unchangeable*, and unidexed.

# Creating a Set

Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces {}, separately by a 'comma'.

Sets are written with curly brackets.

In [6]:
x=[0,1,2,3,4]
print(x,end=" ")
print(type(x))
y=(0,1,2,3,4)
print(y,end=" ")
print(type(y))
z={0,1,2,3,4}
print(z,end=" ")
print(type(z))

[0, 1, 2, 3, 4] <class 'list'>
(0, 1, 2, 3, 4) <class 'tuple'>
{0, 1, 2, 3, 4} <class 'set'>

# Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered

Unordered means that the item in a set do not have a defined order. set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

# Duplicate Not Allowed

Sets cannot have two items with the same value.

In [12]:
# Duplicate values will be ignored
thisset={'sa','re','ga','ma','sa'}
print(thisset)

{'ma', 'ga', 'sa', 're'}

# Get the Length of a Set

To determine how many items a set has, use the len() function.

In [15]:
thisset={'sa','re','ga','ma','sa'}
print(len(thisset))

4

# Set Items-Data Types

Set items can be of any data type

In [18]:
# String, int, boolean data types
set1={'a','b','c'}
set2={1,2,3,4,5}
set3={True,False,False}
print(set1)
print(set2)
print(set3)

{'a', 'c', 'b'}
{1, 2, 3, 4, 5}
{False, True}

In [20]:
# Set can contains different data types
set1={'abs',1245,True}
print(set1)

{True, 1245, 'abs'}

# set() Constructor

It is possible to use the set() constructor to make a set.

In [23]:
# Using the set() constructor to make set
thisset=set(('abc',12,False))
print(type(thisset))
print(thisset)

<class 'set'>
{False, 'abc', 12}

# Access Set Item

We cannot access items in a set by referring to an index or a key, but you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the keyword.

In [26]:
# Loop through the set, and print the values
thisset={'red','black','white','pink'}
for x in thisset:
    print(x)

pink
white
red
black

In [28]:
thisset={'red','black','white','pink'}
if "pink" in thisset:
    print("Yes")
else:
    print("No")

Yes

In [30]:
# check if "white" is present in the set
thisset={'red','black','white','pink'}
print('white' in thisset)

True

# Add Set Items

Once a set is created, you cannot change its items, but you can add new items. by using add() method.

In [33]:
thisset={'red','black','white','pink'}
thisset.add('indigo')
print(thisset)

{'white', 'pink', 'indigo', 'black', 'red'}

# Update Sets

To add items from another set into the current set, use update() method.

In [36]:
x={'pink','blue','green'}
y={'red','pink','violet'}
x.update(y)
y.update(x)
print(y)
print(x)

{'pink', 'violet', 'blue', 'red', 'green'}
{'red', 'blue', 'pink', 'violet', 'green'}

# Add any Iterable

The object in the update() method does not have to be set, it can be any iterable object (lists, tuples, sets, dictionaries)

In [39]:
my_set={'pink','blue','green'}
my_list=['orange','red']
my_tuple=('violet','indigo')

my_set.update(my_list)
my_set.update(my_tuple)
print(my_set)

{'pink', 'violet', 'indigo', 'blue', 'red', 'green', 'orange'}

# Remove Set Items

To remove an item in a set, use the remove(), or discard() method.

In [42]:
thisset={'red','black','white','pink'}
thisset.remove('pink') # using remove() method
print(thisset)

{'white', 'red', 'black'}

In [44]:
thisset={'red','black','white','pink'}
thisset.discard('black') # using discard() method
print(thisset)

{'pink', 'white', 'red'}

In [46]:
# remove random item by using pop() method
thisset={'red','black','white','pink'}
x=thisset.pop()
#print(x)
print(thisset)

{'white', 'red', 'black'}

In [48]:
thisset={'red','black','white','pink'}
x=thisset.pop()
print(x)
print(thisset)

pink
{'white', 'red', 'black'}

In [50]:
# return removed element
fruits={'apple','banana','cherry'}
x=fruits.pop()
print(x)
print(fruits)

cherry
{'apple', 'banana'}

In [52]:
# clear() method empties the set
thisset={'red','black','white','pink'}
thisset.clear()
print(thisset)

set()

# Loop Sets

we can print set items using 'for loop'

In [55]:
thisset={'red','black','white','pink'}
for i in thisset:
    print(i)

pink
white
red
black

# copy() Method

In [58]:
# copy fruits set
fruits={'mango','papaya','pineapple'}
x=fruits.copy()
print(x)
#print(fruits)

{'mango', 'pineapple', 'papaya'}

In [60]:
original_set={1,2,3,4,5,6,True,'Green'}
copied_set=original_set.copy()
print('Original Set: ',original_set)
print('  Copied Set: ',copied_set)

Original Set:  {1, 2, 3, 4, 5, 6, 'Green'}
  Copied Set:  {1, 2, 3, 4, 5, 6, 'Green'}

# Set difference() Method

The difference() method returns a set that contains the difference between two sets.(The returned set contains items that exist only in the first set, and not in both sets)

In [63]:
set1={1,2,3,4,5}
set2={4,5,6,7}
z=set1.difference(set2)
print(z)

{1, 2, 3}

In [65]:
# return set that contains items that only exist in set1 and not in set2
set1={'grey','white',120}
set2={'golden','grey',120}
z=set1.difference(set2)
print(z)

{'white'}

The difference() method in python is used to find the difference between two or more sets. It returns a new set containing elements that are in the first set but not in any of the other sets provided.

In [68]:
set1={1,2,3,4,5}
set2={4,5,6,7}
set3={7,8,9}
diff1=set1.difference(set2,set3)
#diff2=set1.difference(set2)
#diff3=set2.difference(set1)

print(diff1)
#print(diff3)

{1, 2, 3}

In [70]:
# items that only exist in set y not in set x
x={'apple','banana','cherry'}
y={'google','microsoft','apple'}
z=y.difference(x)
print(z)

{'google', 'microsoft'}

# Set difference_update() Method

difference_update() Method removes the items that exist in both sets.

In [73]:
# The difference_update() method doesn't return a new set, it returns None.
# s will be none, and the content of y will be updated in place.
x={'a','b','c'}
y={'x','y','a'}
s=y.difference_update(x)
print(s)

None

In [75]:
x={'a','b','c'}
y={'x','y','a'}
y.difference_update(x)
print(y)

{'y', 'x'}

# Join Two Sets

There are several ways to join two or more sets in python.

we can use union() method that returns a new set containing all items from both sets, or the update() method that insert all the items from one set into another.

# Set union() and update() Method

union means take all elements without reapeating

In [79]:
# The union() method returns a new set with all items from both sets
set1={'a','b','c'}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [81]:
# The update() method insert the items in set1 from set2
set1={'a','b','c'}
set2={1,2,3,4}
set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 4, 'b'}

In [83]:
#Return total items without duplicate
set_A={1,2,3}
set_B={3,4,5}
c=set_A.union(set_B)
print(c)

{1, 2, 3, 4, 5}

In [85]:
A={'A','AA','AAA'}
B={'AA','AAAA','AAAAA'}
C=A.union(B)
print(C)

{'AAAAA', 'AAA', 'AAAA', 'AA', 'A'}

In [87]:
# union of more than 2 sets
A={1,2,3,4}
B={4,5}
C={5,6,7}
result=A.union(B,C)
print(result)

{1, 2, 3, 4, 5, 6, 7}

In [89]:
set1={'A','B','C','D','E'}
set2={'E'}
set3={'F','G','H'}
final_set=set1.union(set2,set3)
print(final_set)

{'B', 'G', 'H', 'C', 'E', 'D', 'F', 'A'}

# Intersection

it uses intersection() returns a new set containing only elements found in both sets(common elements).

In [92]:
A={1,2,3,4}
B={3,4,5,6}
X=A.intersection(B)
print(X)

{3, 4}

In [94]:
set1={'pink','grey','black'}
set2={'grey','red','silver'}

A=set1.intersection(set2)
print(A)

{'grey'}

# issubset()

returns True if the set is subset of another set, meaning all elements of the set are in the other set.

In [97]:
set1={1,2,3,4}
set2={1,2,3,4,5}
print(set1.issubset(set2))
print(set2.issubset(set1))

True
False

In [99]:
set1={10,20,30,40}
set2={10,20}
print(set2.issubset(set1))

True

# issuperset()

returns true if the set is a superset of another set, meaning it contains all element of the other set.

In [102]:
set1={1,2,3,4}
set2={1,2,3,4,5}
print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
True

In [104]:
set1={10,20,30,40}
set2={10,20}
print(set2.issuperset(set1))

False

# isdisjoint()

returns true if the sets have no elements in common.

In [107]:
set1={10,20,30,40}
set2={90,60}
x=set1.isdisjoint(set2)
print(x)
#print(set1.isdisjoint(set2))

True

In [109]:
set1={'A','X','Y','Z'}
set2={'P','Q','Z'}
X=set1.isdisjoint(set2)
print(X)

False